.home-container {
  height: 370vh; /* Increase the height to enable scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  gap: 3rem;
  font-family: 'Cormorant Garamond', serif;
}


.section1-left {
  height: 100vh;
  width: 50%;
  float: left;
  display: flex;
  justify-content: center;
  background-color: white;
}

@media (min-width: 1000px) {
  /* For screens larger than 768px */
  .section1-left {
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  /* For screens smaller than or equal to 767px */
  .section1-left {
    width: 100%;
    height: 10%;
    
  }
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.flying-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; /* Adjust the size as needed */
  height: 60%; /* Adjust the size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.section1-right {
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  font-family: 'Cormorant Garamond', serif;
  position: relative;
}

.section1-right h1 {
  font-size: 7rem;
  font-weight: 700;
  position: absolute;
  color: black;
}

.section1-right p {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 20rem;
}

.icon-container {
  position: fixed;
  top: 10px;
  right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 9999;
}

.icon-link {
  padding: 7px;
  font-size: 24px;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
  box-sizing: content-box;
}


@media (max-width: 1000px) {
  /* For screens smaller than or equal to 767px */
  .section1-right {
    width: 100%;
    height: 600px;
    align-items: center;
    text-align: center;
  }

  .section1-right h1 {
    position: static;
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .section1-right h1 {
      font-size: 2.5rem; /* Adjust the font size for smaller screens */
    }
  }

  .section1-right p {
    margin-bottom: 4rem;
  }
}

.brand-intro {
  max-width: 1200px; /* Adjust the value as needed */
  margin: 20px auto; /* Add margin to create space and center the container horizontally */
  padding: 20px; /* Add padding to create separation from other elements */
  clear: both; /* Clear any floated elements above */
  height: 80vh;
  display: flex; /* Add flex display to enable flexbox layout */
  position: relative;
}

.text-container {
  flex: 1;
  display: flex; /* Add flex display to align items horizontally */
  justify-content: center; /* Center the items horizontally */
  margin-right: 400px;

}
.brand-intro h2 {
  text-align: center;
  margin: 0 auto; /* Center the h2 horizontally */
  margin-bottom: 30px;
  font-weight: bold; /* Make the h2 tag bold */
  font-size: 24px; 
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment to start from the left side */
  justify-content: center;
}


.left-side p {
  max-width: 400px; /* Adjust the value as needed */
  padding: 10px;

}
.image-container {
  width: 30%;
  text-align: center;
}

.flower-image {
  position: absolute;
  right: 20px; /* Adjust the value as needed */
  bottom: 200px; /* Adjust the value as needed */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.flower-image2 {
  position: absolute;
  right: 300px; /* Adjust the value as needed */
  bottom: 300px; /* Adjust the value as needed */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.flower-image3 {
  position: absolute;
  right: 300px; /* Adjust the value as needed */
  bottom: 100px; /* Adjust the value as needed */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

.flower-image4 {
  position: absolute;
  right: 20px; /* Adjust the value as needed */
  bottom: 10px; /* Adjust the value as needed */
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}


@media (max-width: 1000px) {
  .brand-intro {
    flex-direction: column;
    height: auto;
  }

  .text-container {
    margin-right: 0;
  }

  .left-side p {
    max-width: 100%;
  }

  .image-container {
    width: 100%;
  }

  /* Adjust the positioning of the flower images */
  .flower-image {
    position: static;
    margin: 10px auto;
  }

  .flower-image2,
  .flower-image3,
  .flower-image4{
    display: none;
  }
  
  /* Switch the order of image-container and left-side */
  .brand-intro .image-container {
    order: -1;
    margin-bottom: 20px;
  }
  
  .brand-intro .left-side {
    order: 1;
  }
}

.sectionmid{
  padding: 20px
  ;
}
.section2 {
  font-family: 'Cormorant Garamond', serif;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/images/nuluxfloor.webp);
  background-size: cover;
  background-position: center;
  clear: both; /* Clear the floats */
  padding-top: 200px;
  margin-top: 50px; /* Add some spacing between sections */
  position: relative;



}

.section2 button{
  position: relative;
  z-index: 2;
  text-align: center;
  position: relative;
  background-color: transparent;
  color: #fff; /* Adjust the button's text color */
}


.button-text {
  font-size: 24px; /* Adjust the font size as needed */
}

.button-icon {
  width: 20px; /* Adjust the width of the icon */
  height: 20px; /* Adjust the height of the icon */
  margin-left: 120px; /* Adjust the margin as needed */
  display: block; /* Ensures the icon is treated as a block element */
  margin-right: auto; /* Centers the icon horizontally within the button */
  
}

.button-icon {
  filter: invert(1); /* Change the color of the icon to white */
}

.section2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
}

.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.map-image {
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

.logo-image {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
}

.back-button {
  padding: 10px 20px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
}

.section3 {
 
}

.buttons {
  display: flex;
  gap: 1rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
}